#documentation div.content { float:right; width: 740px; margin-top: 0px !important;}

#documentation div.menu { width: 200px; float:left; border-right: 2px solid #5e5e5e;  margin-top: 20px; height: 200px;}
#documentation div.menu ul li ul{ margin-left: 30px;}
#documentation div.menu ul li { list-style: }
#documentation div.menu a { color: #FF8B24; display:block; text-decoration:none; padding: 5px 5px; font-weight:bold; }
#documentation div.menu a:hover { color: white; background-color: #ccc;}