html { height: 100%;}
body{background-color:white;font-size:10px; font-family:Arial, Sans-Serif;margin:0;padding:0;color:#333; height: 100%; }
     
#wrap-all { position:relative; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -140px; /* the bottom margin is the negative value of the footer's height */}
#wrap-all div.push { height: 142px;}

#header div.top  {
    height: 100px; min-width: 1000px;
    background: #ff7b0d; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff7b0d 0%, #ffa84c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7b0d), color-stop(100%,#ffa84c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff7b0d 0%,#ffa84c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff7b0d 0%,#ffa84c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff7b0d 0%,#ffa84c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff7b0d 0%,#ffa84c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b0d', endColorstr='#ffa84c',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #c47535; border-top: 1px solid #fcca9c; }
#header div.top div.wrapper {width: 1000px; margin: 0px auto; height: 100%;}
#header div.top img.logo { margin-top: 10px; }
#header div.top div.right {float: right; width:100px; margin-top:10px;}
#header div.top div.right div.button {float:left; padding:2px 0px;}
#header div.top div.download {float:right; height: 40px; margin:28px 40px 0px 0px; }
    
#header div.top div.download a {text-shadow: 1px 1px 0 #5e8426; line-height: 40px; color: white; padding: 8px 20px; font-size: 20px; font-weight:bold; 
    border: 2px solid #5e8426; moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; text-decoration: none;
    background: #b4e391; /* Old browsers */
    background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 100%, #b4e391 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(100%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 100%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b4e391 0%,#61c419 100%,#b4e391 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b4e391 0%,#61c419 100%,#b4e391 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b4e391 0%,#61c419 100%,#b4e391 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */}
    
#header div.top div.download a:active {
    background: #b4e391; /* Old browsers */
    background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 0%, #b4e391 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(0%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 0%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b4e391 0%,#61c419 0%,#b4e391 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b4e391 0%,#61c419 0%,#b4e391 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b4e391 0%,#61c419 0%,#b4e391 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
}

#header div.bottom { background-color: #5e5e5e; height: 26px; min-width: 1000px; border-top: 1px solid #898989; border-bottom:2px solid #3d3d3d;}
#header div.bottom div.wrapper {width: 1000px; margin: 0px auto; height: 100%; line-height: 26px;}
#header div.bottom div.wrapper a { text-decoration: none; color: White; font-size: 12px; font-weight:bold; margin-right: 20px;}
#header div.bottom div.wrapper a:hover { color: #FF8B24;}

#footer { width: 100%; position:relative;}
#footer div.wrapper { width: 1000px; margin: 0px auto; height: 140px; border-top: 1px solid #ccc; background-color: #f4f4f4;}
#footer div.wrapper div.content {margin:20px; }
#footer div.wrapper div.osi { float:right; width: 70px; text-align:center;}
#footer div.wrapper div.osi img { margin: 0px 10px;}

#main {font-size: 12px; margin-top:20px;}
#main div.wrapper { width: 1000px; margin: 0px auto;}
#main div.wrapper div.content {margin:20px; }
#main div.wrapper blockquote {margin: 1em 3em; color: #999; border-left: 2px solid #999; padding-left: 1em; font-style: italic;}
#main div.wrapper pre { font-family: Consolas,Inconsolata,monospace; display: block; width: auto; overflow: auto; max-height: 600px; 
    white-space: pre; word-wrap: normal; padding: 10px; border: 1px solid #ccc; background-color: #f9f9f9; moz-border-radius: 12px; 
    -webkit-border-radius: 12px; border-radius: 12px;}

/* csharp */
#main div.wrapper pre span.keyword {color: #00c;}
#main div.wrapper pre span.code-type {color: #468ea7;}
#main div.wrapper pre span.string { color: #a00;}
#main div.wrapper pre span.support.class {color: #468ea7;}

/* html */
#main div.wrapper pre span.support.tag { color: #00a; }
#main div.wrapper pre span.support.tag-name { color: #a00; }
#main div.wrapper pre span.support.attribute { color: Red; }
#main div.wrapper pre span.support.operator { color: #00f; }
#main div.wrapper pre span.string.quote { color: #00f; }
#main div.wrapper pre span.string.value { color: #00f; }

/**** content styling ****/
#main div.content {font-size: 12px;}
#main div.content li { margin-left: 30px; list-style:square;}
#main div.content p, #main div.content ul{margin:10px 0px;line-height:16px;}
#main div.content a:link{color:#034af3;text-decoration:underline}
#main div.content a:visited{color:#505abc}
#main div.content a:hover{color:#1d60ff;text-decoration:none}
#main div.content a:active{color:#12eb87}


#main div.content h1,
#main div.content h2, 
#main div.content h3,
#main div.content h4,
#main div.content h5,
#main div.content h6{font-size:1.8em;color:#FF8B24; margin:20px 0px 10px 0px;}

#main div.content hr {margin: 20px 0px;}