@{
    ViewBag.Title = "Browser Caching";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
}

<h2>Browser Caching</h2>

<p>By default the borwser will cache all assets for 1 year. This can be overridden when configuring the 
bundle (see @Html.RouteLink("Browser TTL", "Documentation", new { path = "bundle-configuration/other" })). Changes to the
bundles will result in forcing the browser to download the changed bundle. It does this by putting a hash (unique to the bundle content) in
the bundle url. Changing the bundle (adding assets, or changing content within an asset) will generate a new hash, and thus a new url.</p>

<p>Additionally all content sent to the browser is compressed with either Gzip or Deflate. It will automatically choose 
based on the request headers.</p>

<h6>Caching in Browser</h6>
<img src="../../Images/ScreenCaps/no-debug-mode-browser-caching.png" />
<pre>
@Html.Code(@"
Request URL:http://localhost:10000/wab.axd/css/96a5af4a6657daa0611b011b9ac0691b/StyleSheets
Request Method:GET
Status Code:304 Not Modified
Request Headersview source
Accept:text/css,*/*;q=0.1
Accept-Charset:ISO-8859-1,utf-8;q=0.7,*;q=0.3
Accept-Encoding:gzip,deflate,sdch
Accept-Language:en-US,en;q=0.8
Cache-Control:max-age=0
Connection:keep-alive
Host:localhost:10000
If-None-Match:c2c494c3d7fccb9a2a2b7beabf90ae09
Referer:http://localhost:10000/
User-Agent:Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.31 (KHTML, like Gecko) Chrome/26.0.1410.64 Safari/537.31
Response Headersview source
Cache-Control:public
Connection:Close
Date:Mon, 22 Apr 2013 16:52:45 GMT
ETag:c2c494c3d7fccb9a2a2b7beabf90ae09
Expires:Tue, 22 Apr 2014 16:52:45 GMT
Server:ASP.NET Development Server/10.0.0.0
X-AspNet-Version:4.0.30319

Request URL:http://localhost:10000/wab.axd/js/406f73f10ad75152ee39a583b7e5625d/Scripts
Request Method:GET
Status Code:304 Not Modified
Request Headersview source
Accept:*/*
Accept-Charset:ISO-8859-1,utf-8;q=0.7,*;q=0.3
Accept-Encoding:gzip,deflate,sdch
Accept-Language:en-US,en;q=0.8
Cache-Control:max-age=0
Connection:keep-alive
Host:localhost:10000
If-None-Match:406f73f10ad75152ee39a583b7e5625d
Referer:http://localhost:10000/
User-Agent:Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.31 (KHTML, like Gecko) Chrome/26.0.1410.64 Safari/537.31
Response Headersview source
Cache-Control:public
Connection:Close
Date:Mon, 22 Apr 2013 16:54:57 GMT
ETag:406f73f10ad75152ee39a583b7e5625d
Expires:Tue, 22 Apr 2014 16:54:57 GMT
Server:ASP.NET Development Server/10.0.0.0
X-AspNet-Version:4.0.30319
")
</pre>