@{
    ViewBag.Title = "Bundle Types";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
}

<h2>Available Bundle Types</h2>

<p>The different bundle types will be referenced when working with generic interfaces. For example the IBundleConfiguration<>
and IPlugin<> interfaces. Here is a list of the bundle types:</p>

<ul>
    <li>ScriptBundle - Represents a bundle of javascript files.</li>
    <li>StyleSheetBundle - Represents a bundle of style sheet files.</li>
</ul>