@{
    ViewBag.Title = "Bundle Pipeline";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
}

<h2>Bundle Pipeline</h2>
<p>Bundles are processed in a pipleine that allows for easy modification. You can add in your own pipeline processing
to customize how a bundle is processed. There is one pipeline for style sheets and one for bundles. Each pipeline has default processors
used for the standard bundling procedure.</p>

<p>Default Processors for style sheet bundles (processed in this order):</p>
<ol>    
    <li>Minify Processor - minifies the assets.</li>
    <li>Merge Processor - merges the assets into one asset.</li>
    <li>Url Assignment Processor - generates and assignes the url for the bundle.</li>
    <li>Image path Processor - updates any image paths to work with the new url.</li>
</ol>
<p>The image path processor is dependant on the url be assigned before it can process the image paths. Be aware of this when modifying
the pipeline.</p>

<p>Default Processors for script bundles (processed in this order):</p>
<ol>   
    <li>Minify Processor - minifies the assets.</li>
    <li>Merge Processor - merges the assets into one asset.</li>
    <li>Url Assignment Processor - generates and assignes the url for the bundle.</li>
</ol>