@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
}

<h2>What is it?</h2>

<p>Web Asset Bundler is a light weight and extensible .NET library that aims to make CSS and Javascript management easier. With Web Asset Bundler you can minify,
combine, version and cache your CSS and Javascript files. </p>

<p>An asset is a file like a script or stylesheet. Assets are combined into bundles. Bundles are optimized to reduce load for your web application.</p>
