@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Introduction</h2>

<p>Web Asset Bundler is a light weight .NET library that aims to make CSS and Javascript management easier. With Web Asset Bundler you can minify,
combine, version and cache your CSS and Javascript files. Web Asset Bundler is light weight, flexible and extensible.</p>

<p>An asset is a file like a script or stylesheet. Assets are combined into bundles. Bundles are optimized to reduce load for your web application.</p>
