@{
    ViewBag.Title = "Plugins";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
}

<h2>Plugins</h2>

<p>Here is a list of currenly supported plugins:</p>
<ul>
    <li>WebAssetBundler.Less - Allows parsing and processing of dotLess files.</li>
</ul>

You can install these packages using Nuget with the following: