@{
    ViewBag.Title = "Plugins";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
}

<h1>Plugins</h1>

<p>The following plugins are available and can be installed via NuGet:</p>
<ul>
    <li>WebAssetBundler.Less - Allows parsing and processing of dotLess files.</li>
</ul>

You can install these packages using Nuget with the following:

<pre>PM> Install-Package WebAssetBundler.Less</pre>