@{
    ViewBag.Title = "Rendering Bundles";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
}

<h2>Rendering Configured Bundles</h2>
<p>Configured bundles are rendered using the name provided in the configuration step. For example:</p>
<pre data-language="csharp">
</pre>

<p>In order to render the stylesheet for this bundle you would then:</p>
<pre data-language="csharp">

</pre>
