@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Adipiscing ac velit lectus rhoncus in! Proin vel? Velit? Massa risus et, dolor nisi, nec nisi ultricies, dolor placerat magna, tortor massa mus in 
dolor nisi ultrices quis lectus eros montes in! Adipiscing eros purus dictumst? Odio phasellus porttitor montes dapibus a rhoncus odio nec eros, 
penatibus augue! Tristique? Cras auctor massa. Risus dictumst magna phasellus velit, velit adipiscing tincidunt vel magnis turpis aliquet. Eu, eros 
platea integer mus pulvinar, nisi integer ac duis ridiculus risus sagittis est magna porttitor nunc placerat egestas parturient integer cras vut 
adipiscing enim hac, cursus quis nec mid purus, placerat magna phasellus nisi urna, nec mauris elit rhoncus placerat, dolor, nunc nisi? Rhoncus 
diam? Egestas aliquet! Augue nec magna nascetur nec nisi sociis cum.</p>

<p>Hac porta sed nisi augue? Cras, dis magna cum? Enim aliquet, scelerisque montes? Eros? Lacus. Et placerat pulvinar adipiscing, augue nascetur 
ac sed, elementum aenean rhoncus hac turpis cum, lundium. Non. Porta magna nunc nascetur, montes in! Proin elementum? Tristique eu, platea integer 
lundium, eu parturient pid. Rhoncus odio augue. Nisi, sociis dolor. Penatibus. Elementum massa in magna aenean, porta montes montes et in dolor diam! 
Elit massa enim magna elit, placerat et sociis, nisi, lorem lacus. Dolor turpis rhoncus ac sagittis arcu aliquam eu turpis ut? Enim dis, placerat montes 
diam integer mauris enim! Platea penatibus aliquet. Ultricies! Amet vel. Sit nunc! Massa sit ac tincidunt, vel lundium magnis, mauris! Cursus! Et non 
penatibus nisi scelerisque, aenean aenean.</p>

<blockquote>Auctor? Porta porttitor duis porta? Est in montes odio! In mattis. Turpis etiam elit sagittis turpis augue scelerisque vel, ut rhoncus, ultricies
sociis tincidunt et sagittis porta nisi eu. Velit lectus! Massa egestas porttitor aenean, arcu adipiscing quis tortor odio dapibus, dapibus odio. Hac? 
Pulvinar nisi augue pulvinar turpis odio nec sit integer phasellus massa ac. Dictumst scelerisque in. Sit, ridiculus. Cras ridiculus ac a tincidunt pulvinar 
hac cum dolor! Odio, augue cursus auctor. Platea in parturient odio sociis non egestas vut, vut? Elementum etiam proin purus porttitor adipiscing, dis lacus, 
magna velit magna! Tortor a cum quis lundium? Mus, cum lectus rhoncus, ac risus nascetur eu! Natoque urna sed cum, porta arcu tortor integer lectus amet aliquam 
phasellus.</blockquote>

<pre data-language="csharp">
    var code = true;
    if (code)
    {
        Console.Write(code);
    }
</pre>

   <p>Hac porta sed nisi augue? Cras, dis magna cum? Enim aliquet, scelerisque montes? Eros? Lacus. Et placerat pulvinar adipiscing, augue nascetur 
ac sed, elementum aenean rhoncus hac turpis cum, lundium. Non. Porta magna nunc nascetur, montes in! Proin elementum? Tristique eu, platea integer 
lundium, eu parturient pid. Rhoncus odio augue. Nisi, sociis dolor. Penatibus. Elementum massa in magna aenean, porta montes montes et in dolor diam! 
Elit massa enim magna elit, placerat et sociis, nisi, lorem lacus. Dolor turpis rhoncus ac sagittis arcu aliquam eu turpis ut? Enim dis, placerat montes 
diam integer mauris enim! Platea penatibus aliquet. Ultricies! Amet vel. Sit nunc! Massa sit ac tincidunt, vel lundium magnis, mauris! Cursus! Et non 
penatibus nisi scelerisque, aenean aenean.</p>
