@{
    ViewBag.Title = "Bundle Types";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
}

<p>The different bundle types will be referenced when working with generic interfaces. For example the IBundleConfiguration<>
and IPlugin<> interfaces. Here is a list of the bundle types:</p>

<h6>Available Bundle Types</h6>
<ul>
    <li>ScriptBundle - Represents a bundle of javascript files.</li>
    <li>StyleSheetBundle - Represents a bundle of style sheet files.</li>
    <li>ImageBundle - Represents an image. Generally a style sheet image.</li>
</ul>