@{
    ViewBag.Title = "Modifying Directory Search Patterns";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
}

<h2>Modifying Directory Search Patterns</h2>

<p>Modifying the directory search patterns will allow the plugin to work correctly when adding assets to a bundle. For instance, the dotLess plugin
ensures that when assets are added to a bundle when using the <em>AddDirecotry</em> method it will only include the files that end in <em>.less</em>.</p>

<p>Here is an example:</p>

<pre data-language="csharp">
@Html.Code(@"
public void ModifySearchPatterns(ICollection<string> patterns)
{
    patterns.Add(""*.tst"");
}
")
</pre>

<p>In this example we added a rule stating that all files ending in <em>.tst</em> will be included when adding all assets in a directory to a bundle. You can 
use multiple wildcards and use multiple patterns if you wish. Keep in mind that multiple patterns could cancel eachother out resulting in no assets being added.</p>