<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

     @{Html.Bundler().StyleSheetManager()
        .StyleSheets(style => style
            .AddGroup("Test", g => g
                .Add("~/Content/themes/base/jquery.ui.all.css")
                .Add("~/Content/Site.css")
                .Compress(true)
                .Version("1.2")
                .Combine(false)))
        .Render();}

        @{Html.Bundler().ScriptManager()
              .Scripts(s => s
                  .AddSharedGroup("jQuery")                  
                  .AddGroup("Test2", g => g                                           
                      .Combine(true)
                      .Compress(true)
                      .Version("1.3333")))
            .Render();
        }
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>My MVC Application</h1>
            </div>

            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("DefaultGroup", "DefaultGroup", "Example")</li>                    
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
