<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>@ViewBag.Title</title>

    @Bundler.StyleSheets.Render("StyleSheets")

</head>
<body>
    <div id="wrap-all">
        <div id="header">
            <div class="top">
            
            </div>
            <div class="bottom">
                <div class="wrapper">
                    <img alt="Logo" class="logo" src="/Images/Logo.png" width="170" height="80"/>
                </div>
            </div>
        </div>

        <div id="main">
            <div class="wrapper">
                @RenderBody()
            </div>            
        </div>

        <div class="push"></div>
    </div>

    <div id="footer">
        <div class="wrapper">
        <span> 2013 Justin Arvay</span>
        
        <div class="osi">
            <img alt="This software fully supports the Open Source Initiative" src="/Images/osi-logo.png" />        
            <span><strong>Open</strong> Source Initiative</span>
        </div>
    </div>


    @Bundler.Scripts.Render("Scripts")

    <script type="text/javascript">
        $(document).ready(function () {
            Rainbow.color();
        });
    </script>
</body>
</html>
