<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>@ViewBag.Title</title>

    @Bundler.StyleSheets.Render("StyleSheets")

</head>
<body>
    <div id="wrap-all">
        <div id="header">
            <div class="top">
                hfjfgfhgf
            </div>
        </div>

        <div id="main">
            @RenderBody()
        </div>

        <div class="push"></div>
    </div>

    <div id="footer">
        <div class="wrapper">
        footer
        </div>
    </div>


    @Bundler.Scripts.Render("Scripts")
</body>
</html>
