@{
    ViewBag.Title = "Benefits";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<h2>Benefits</h2>

<h6>From</h6>
<pre data-language="html">
@Html.Code(@"
<link href=""/Content/jquery-ui.custom.css"" />
<link href=""/Content/reset.css"" />
<link href=""/Content/reset.css"" />
<link href=""/Content/layout.css"" />
<link href=""/Content/download.css"" />
<link href=""/Content/documentation.css"" />
")
</pre>

<h6>From</h6>
<pre data-language="html">
@Html.Code(@"
<link type=""text/css"" href=""/wab.axd/css/8190e9a67c00175a53de58ffc50ddee1042313124621/StyleSheets"" rel=""stylesheet"">
")
</pre>