<?xml version="1.0" encoding="utf-8" ?> 

  <bundler>
    <styleSheets>
      <group name="Something" version="1.1">
        <asset source="~/Content/file1.css"/>
      </group>
      <group name="SomethingElse" version="1.1">
        <asset source="~/Content/file1.css"/>
      </group>
    </styleSheets>
    <scripts>
      <group name="jQuery" version="1.1.1" compress="false" >
        <asset source="~/Scripts/jquery-1.5.1.js"/>
        <asset source="~/Scripts/jquery-ui-1.8.11.js"/>
      </group>
    </scripts>
  </bundler>