@{
    ViewBag.Title = "Download";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<div id="download">
    <div class="warning">
        <p><strong>Web Asset Bundler is very much in "beta". Features and fixes will be added constantly as the library matures. Please head to 
        <a href="https://github.com/justin-arvay/WebAssetBundler">Git Hub</a> to report an issue or request a feature.</strong></p>
    </div>

    <div class="section">
        <h2><img src="/Images/nugetlogo.png" /><span>Install via NuGet</span></h2>
        
        <p>The easiest way to start using WebAssetBunder is to install the WebAssetBundler NuGet package. Visit 
        the <a href="http://docs.nuget.org/">NuGet docs</a> to get started.</p>
        <pre>PM> Install-Package WebAssetBundler</pre>        
    </div>

    <div class="section">
        <h2><img src="/Images/octocat.png" /><span>Fork from GitHub</span></h2>
        
        <p>You can grab the full source code of WebAssetBunder from the GitHub repository:</p>
        <a href="https://github.com/justin-arvay/WebAssetBundler">https://github.com/justin-arvay/WebAssetBundler</a>
    </div>

    <div class="bottom-section">
        <p><strong>Note:</strong> Plugin versions should match the main package version for best compatability. All plugins are 
        updated when the main package is updated. Updating all packages to the newest version will match the versions. 
        Eg: <strong>WebAssetBunder.Less 0.9.4 + WebAssetBunder 0.9.4</strong>.</p>

        <h3>Getting Started</h3>
        <p>Web asset bundler only requires minimal configuration. For help getting started, read the 
         @Html.RouteLink("getting started", "Documentation", new { path = "introduction" }) guide.</p>
     </div>
 </div>