@{
    ViewBag.Title = "Download";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<h2>Install via NuGet</h2>
The easiest way to start using WebAssetBunder is to install the WebAssetBundler NuGet package.

Visit the <a href="http://docs.nuget.org/">NuGet docs</a> to get started.
<pre>PM> Install-Package WebAssetBundler</pre>

<h2>Fork from GitHub</h2>
<p>You can grab the full source code of WebAssetBunder from the GitHub repository:</p>
<a href="https://github.com/justin-arvay/WebAssetBundler">https://github.com/justin-arvay/WebAssetBundler</a>
