@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<h2>What is it?</h2>

<p>Web Asset Bundler is a light weight and extensible .NET library that aims to make CSS and Javascript management easier. With Web Asset Bundler you can minify,
combine, version and cache your CSS and Javascript files. </p>

<p>An asset is a javascript or stylesheet file. Assets are combined into bundles. Bundles are optimized to reduce load for your web application.</p>

<h2>Alternatives</h2>
<p>If web asset bundle just isn't doing it for you, check out some of the alternatives:</p>
<ul>
    <li><a href="http://requestreduce.org/">Request Reduce</a></li>
    <li><a href="http://http://getcassette.net/">Cassette</a></li>
    <li><a href="https://github.com/jetheredge/SquishIt">Squish It</a></li>
    <li><a href="https://github.com/buunguyen/combres">Combres</a></li>
</ul>

<p>Please contact me through <a href="https://github.com/justin-arvay/WebAssetBundler/issues">github</a> by opening a issue if you have, or 
know of, other projects that I should add to this list.</p>