@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>1. Install</h2>
<h2>2. Configure</h2>
<h2>3. Render</h2>


<pre data-language="csharp">
    ObjectName obj = new ObjectName();
    string name = "bob";
    var code = true;
    if (code)
    {
        Console.Write(code);
    }
</pre>

<pre data-language="html">
    <div>
        <span class="test" id="test">Blah</span>
    </div>
</pre>
