@{
    ViewBag.Title = "License";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<h1>License</h1>
<p>Web Asset Bundler is an open source project. It is licensed under the <a href="http://opensource.org/licenses/GPL-3.0">GNU General Public License</a>.</p>